<div id="page1" class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Page 1</h1>
        <p class="splash-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>
            <a href="https://github.com/camelaissani/frontexpress" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>